<%- include("header"); %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-5"> <strong>About Us</strong></h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est in velit eleifend fermentum. Mauris condimentum auctor neque sed lobortis. Suspendisse eget sapien id urna dictum aliquet vitae et nunc.</p>
    <hr class="my-4">
    <p>Phasellus ultricies aliquet lectus, et posuere quam varius at. Maecenas congue massa a ante iaculis finibus. Integer luctus, nisl in imperdiet bibendum, justo leo tempor erat, sit amet luctus dolor justo ut lacus.</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est in velit eleifend fermentum. Mauris condimentum auctor neque sed lobortis. Suspendisse eget sapien id urna dictum aliquet vitae et nunc.</p>
    <hr class="my-4">
    <p>Phasellus ultricies aliquet lectus, et posuere quam varius at. Maecenas congue massa a ante iaculis finibus. Integer luctus, nisl in imperdiet bibendum, justo leo tempor erat, sit amet luctus dolor justo ut lacus.</p> <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est in velit eleifend fermentum. Mauris condimentum auctor neque sed lobortis. Suspendisse eget sapien id urna dictum aliquet vitae et nunc.</p>
    <hr class="my-4">
    <p>Phasellus ultricies aliquet lectus, et posuere quam varius at. Maecenas congue massa a ante iaculis finibus. Integer luctus, nisl in imperdiet bibendum, justo leo tempor erat, sit amet luctus dolor justo ut lacus.</p> <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est in velit eleifend fermentum. Mauris condimentum auctor neque sed lobortis. Suspendisse eget sapien id urna dictum aliquet vitae et nunc.</p>
    <hr class="my-4">
    <p>Phasellus ultricies aliquet lectus, et posuere quam varius at. Maecenas congue massa a ante iaculis finibus. Integer luctus, nisl in imperdiet bibendum, justo leo tempor erat, sit amet luctus dolor justo ut lacus.</p>
  </div>
</div>


<%- include("footer"); %>
