<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form with Sohaib</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/footer.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>

      .nav-pills {
    display: flex;
    justify-content: center;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <header class="navbar navbar-dark bg-dark">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="/show-data" class="nav-link">Records</a></li>
        <li class="nav-item"><a href="/faqs" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About Me</a></li>
      </ul>
    </header>
  </div>
  <hr>
